{% extends 'student/base/base.html' %}

{% block title %}Home{% endblock title %}
{% block nav_title %}{{ stud.username }}{% endblock nav_title %}
{% block url %}{% url 'logoutUser' %}{% endblock url %}
{% block action %}Logout{% endblock action %}

{% block body %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow-lg p-5 text-center" style="width: 300px;">
        <h3 class="card-title mb-4 text-secondary">Navigation</h3>
        <div class="mb-4">
            <a href="{% url 'exams' %}" class="btn btn-primary btn-lg btn-block">Exams</a>
        </div>
        <div class="mb-4">
            <a href="{% url 'results' %}" class="btn btn-primary btn-lg btn-block">Results</a>
        </div>
    </div>
</div>

{% endblock body %}
